
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-box {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}

label {
  display: block;
  text-align: left;
  margin: 15px 0 5px;
  font-weight: bold;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f8f8f8;
}

.input-icon, .input-icon-right {
  background-color: #ddd;
  padding: 10px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-icon-right {
  background-color: #FFFFF0;
}

.input-group input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
  background-color: transparent;
}

.login-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #286090;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #56DFCF}